
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-10">

      <form id="form2">
          <div class="jumbotron">
            <h2>Bienvenue {{pseudo}} sur votre workspace.</h2>
          </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    <form id="form1">
      <div class="well">
        <h4>Nos projets</h4><br>
        <h4>Projets suivis</h4><br>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <h3><u>Liste de vos projets :</u></h3>
    <div class=well>
      <ul></ul>
    </div>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <div class=well>
      Nouveau projet? Rentrez les champs ici:<br><br>
      <form>
      Nom du projet : <input type="text" ng-model="projet"><br><br>
      Description : <br> <input type="text" ng-model="descr" size="45"><br><br>
      URLDepot : <input type="text" ng-model="urldepot"><br><br>
      Date début : <input type="text" ng-model="datedebut"><br><br>
      Date fin : <input type="text" ng-model="datefin"><br><br>
      <input type="submit" onclick="onSelect()">
    </form>
    </div>
  </div>
</div>
</div>
