
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h1> <p align="center">LOGO </p></h1>
    </div>

    <div class="col-md-10">

      <form id="form2">
          <div class="jumbotron">
            <h2>Bienvenue {{pseudo}} sur votre workspace.</h2>
          </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    <form id="form1">
      <div class="well">
        <h4>Nos projets</h4><br>
        <h4>Projets suivis</h4><br>
        <h4>...</h4>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <form id="form3">
    <button type="button" class="btn btn-default" (click)="onSelect()">Création d'un nouveau projet</button>
    </form>
    <h3>Liste de vos projets :</h3>
</div>
  </div>
</div>
