<div class="jumbotron">
	<div class="row">
		<div class="container">
			<h1 align="center">Account</h1>
		</div>
	</div>
</div>


<div class="container">

	<form class="form-account" [formGroup]="accountForm" (ngSubmit)="ngOnSubmit()" novalidate>
		<h2 class="form-account-heading">Informations</h2>
		<div class="col mb-3">
			<label for="email">Email</label>
			<input type="email" id="email" class="form-control" formControlName="email" placeholder="Email" required autofocus [ngClass]="{
				'is-invalid': (accountForm.controls['email'].invalid && accountForm.controls['email'].touched),
				'is-valid': accountForm.controls['email'].touched}">
		</div>
		<div class="col mb-3">
			<label for="name">Name</label>
			<input type="text" id="name" class="form-control" formControlName="name" placeholder="User name" required [ngClass]="{
				'is-invalid': (accountForm.controls['name'].invalid && accountForm.controls['name'].touched),
				'is-valid': accountForm.controls['name'].touched}">
		</div>
		<div class="col mb-3">
			<label for="password">Current Password</label>
			<input type="password" id="password" class="form-control" formControlName="password" placeholder="Password" required [ngClass]="{
				'is-invalid': (accountForm.controls['password'].invalid && accountForm.controls['password'].touched),
				'is-valid': accountForm.controls['password'].touched}">
		</div>
		<div class="col mb-3">
			<label for="newPassword">New password</label>
			<input type="password" id="Password" class="form-control" formControlName="newPassword" placeholder="Password" required [ngClass]="{
				'is-invalid': (accountForm.controls['newPassword'].invalid && accountForm.controls['newPassword'].touched),
				'is-valid': accountForm.controls['newPassword'].touched}">
		</div>

		<ul class="list-inline">
			<li class="list-inline-item"><button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="signupForm.invalid">Change</button></li>

			<li class="list-inline-item"> <button class="btn btn-lg btn-primry btn-block" type="submit" style="background-color:red"> Cancel</button></li>

		</ul>
		<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

	</form>

</div>
