<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="container-fluid">
    <div class="jumbotron">
      <h3 align="center"> Projet : {{nom_du_projet}} </h3>
    </div>
  </div>
</div>
<div class="col-md-2"></div>
<div class="container">
  <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="well">
      Backlog :
      <table><!-- Remplir la table ici--></table>
    </div>
  </div>
  <div class="col-md-2"></div>
    <div class="col-md-10">
    <div class="well">
      Sprint:
    </div>
  </div>
</div>
