<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="container-fluid">
    <div class="jumbotron">
      <h3 align="center"> Projet : {{nom_du_projet}} </h3>
    </div>
  </div>
</div>

<div class="col-md-2"></div>
<!--<div class="container">
  <div class="col-md-5">
      <div class="well" style="height:350px; width:350px;">

        <form id="US" (ngSubmit) = "onAction_newUS()" name="US">
          Ajouter une userstory :<br/>
          Id:<input type="number" class="form-control" name=id required [(ngModel)] = "model_US.id" #id="ngModel">
          Description:<input type="text" class="form-control" name=desc required [(ngModel)] = "model_US.desc" #desc="ngModel">
          Difficulté:<input type="number" class="form-control" name=dif required [(ngModel)] = "model_US.dif" #dif="ngModel">
          Priorité:<input type="number" class="form-control" name=prio required [(ngModel)] = "model_US.prio" #prio="ngModel">
          Fait:<input type="text" class="form-control" name=done required [(ngModel)] = "model_US.done" #done="ngModel">
          <input type="submit">
        </form>
      </div>
      </div>
  <div class=col-md-2></div>
  <div class=col-md-5>
    <div class=container>
      <div class="well" style="height:350px; width:350px;">
        <form id="Sprint" (ngSubmit) = "onAction_newSprint()" name="Sprint">
          Ajouter un tâche :<br/>
          Id:<input type="number" class="form-control" name=idSp required [(ngModel)] = "model_Sprint.idSp" #idSp="ngModel">
          US:<input type="text" class="form-control" name=usSp required [(ngModel)] = "model_Sprint.usSp" #usSp="ngModel">
          Description:<inpu</div>t type="text" class="form-control" name=descSp required [(ngModel)] = "model_Sprint.descSp" #descSp="ngModel">
          Statut:<input type="text" class="form-control" name=statutSp required [(ngModel)] = "model_Sprint.statutSp" #statutSp="ngModel">
          <input type="submit">
        </form>

      </div>
    </div>
  </div>
</div>-->
<div class="row">

  <div class="container">
      <h2>Backlog</h2>
      <table class="table table-striped table-bordered">
				<thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Difficulté</th>
          <th>Priorité</th>
          <th>Fait</th>
					<th>Action</th>
        </tr>
			</thead>
			<tbody>
        <ng-container *ngFor="let lignetabus of list_US">
          <tr>
						<th [ngValue]="lignetabus.onEdit ? contenteditable : ''" [(ngModel)] = "lignetabus.id" #id="ngModel">{{lignetabus.id}}</th>
						<th [ngValue]="lignetabus.onEdit ? contenteditable : ''" [(ngModel)] = "lignetabus.desc" #desc="ngModel">{{lignetabus.desc}}</th>
						<th [ngValue]="lignetabus.onEdit ? contenteditable : ''" [(ngModel)] = "lignetabus.dif" #dif="ngModel">{{lignetabus.dif}}</th>
						<th [ngValue]="lignetabus.onEdit ? contenteditable : ''" [(ngModel)] = "lignetabus.prio" #prio="ngModel">{{lignetabus.prio}}</th>
						<th [ngValue]="lignetabus.onEdit ? contenteditable : ''" [(ngModel)] = "lignetabus.done" #done="ngModel">{{lignetabus.done}}</th>
						<th><button class="btn" (click)="onModify(lignetabus)">Edit</button><button class="btn btn-warning">Delete</button></th>
					</tr>
				</ng-container>
				<tr *ngIf='edit' class="info">
					<th contenteditable='true' [(ngModel)] = "model_US.id" #id="ngModel"></th>
					<th contenteditable='true' [(ngModel)] = "model_US.desc" #desc="ngModel"></th>
					<th contenteditable='true' [(ngModel)] = "model_US.dif" #dif="ngModel"></th>
					<th contenteditable='true' [(ngModel)] = "model_US.prio" #prio="ngModel"></th>
					<th contenteditable='true' [(ngModel)] = "model_US.done" #done="ngModel"></th>
				 </tr>
			</tbody>
      </table>
			<button *ngIf='!edit' type="button" class="btn btn-success" (click)="onEdit()">Add userStory</button>
			<button *ngIf='edit' type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
			<button *ngIf='edit' type="button" class="btn" (click)="onBack()">Back</button>
  </div>
  <!--<div class="col-md-5">
		<div class="container">
      <h2>Sprint</h2>
      <table class="table">
				<thead>
        <tr>
          <th>ID</th>
          <th>US</th>
          <th>Description</th>
          <th>Statut</th>
        </tr>
			</thead>
		<tbody>
        <ng-container *ngFor="let lignetab of list_Sprint">
          <tr><th>{{lignetab.idSp}}</th><th>{{lignetab.usSp}}</th><th>{{lignetab.descSp}}</th><th>{{lignetab.statutSp}}</th></tr>
        </ng-container>
			</tbody>
      </table>
		</div>
</div>-->
</div>
