<div class="jumbotron">
	<div class="row">
		<div class="container">
			<h1 align="center"> Sprint {{sprint.id}} </h1>
		</div>
	</div>
</div>

<div class="row col-md-12">
	<div class="col-md-1"></div>
	<div class="col-md-10">

		<div class="row">
			<div class="col-md-4">
				<p class="date" align="right">Begin - {{sprint.begin}} </p>
			</div>
			<div class="col-md-4" align="center">
				<button id="editSprint" class="btn btn-warning" (click)="newProject()">Edit sprint</button>
			</div>
			<div class="col-md-4">
				<p class="date" align="left"> End - {{sprint.end}} </p>
			</div>
		</div>

		<ngb-tabset justify="end">
			<ngb-tab id="tab-selectbyid2">
				<ng-template ngbTabTitle>Tasks</ng-template>
				<ng-template ngbTabContent>

					<div class="container">
						<h2>Tasks </h2>
						<table class="table table-bordered ">
							<thead class="table-secondary">
								<tr>
									<th class='number'>ID <i class="fa fa-plus-circle"></i> </th>
									<th class='description'>Description</th>
									<th>Developer</th>
									<th class='status'>Status</th>
									<th class="columnAction">Action</th>
								</tr>
							</thead>

							<tbody data-spy="scroll">
								<tr *ngIf='addTaskMode' id="newLine">
									<td class="table-secondary number" contenteditable='false' ></td>
									<td class="table-primary description" contenteditable='true' ></td>
									<td class="table-primary" contenteditable='false'>
										<select >
									<option *ngFor="let user of developers">{{user}}</option>
							</select>
									</td>
									<td class="table-primary status" contenteditable='true' ></td>
									<td class="columnAction">
										<button class="btn" disabled>Edit</button>
										<button class="btn btn-danger" disabled>Delete</button>
									</td>
								</tr>

								<ng-container *ngFor="let task of taskList">
									<tr id="{{ 'TASK' + task.id  }}">
										<td class="table-secondary number" contenteditable='false' >{{task.id}}</td>
										<td class="editable description" contenteditable='false' >{{task.description}}</td>
										<td *ngIf='!task.onEdit' class="editable" contenteditable='false' >{{task.developer}}</td>
										<td *ngIf='task.onEdit' class="table-primary" contenteditable='false'>
											<select >
											<option *ngFor="let user of developers">{{user}}</option>
									</select>
										</td>
										<td class="editable status" contenteditable='false' >{{task.status}}</td>
										<td class="columnAction">
											<button *ngIf='!task.onEdit' class="btn btn-default" (click)="onEditRow(task)">Edit</button>
											<button *ngIf='!task.onEdit' class="btn btn-danger" (click)="onDeleteRow(task)">Delete</button>
											<button *ngIf='task.onEdit' class="btn" (click)="onBackRow(task)">Back</button>
											<button *ngIf='task.onEdit' class="btn btn-primary" (click)="onConfirmRow(task)">Confirm</button>
										</td>
									</tr>
								</ng-container>
							</tbody>
						</table>

						<button *ngIf='!addTaskMode' type="button" class="btn btn-success" (click)="onEdit()">Add task</button>
						<div *ngIf='addTaskMode'>
							<button type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
							<button type="button" class="btn" (click)="onBack()">Back</button>
						</div>
					</div>
				</ng-template>
			</ngb-tab>

			<ngb-tab id="tab-selectbyid1" title="Backlog">
				<ng-template ngbTabContent>
					<div class="container">
						<h2>Backlog </h2>
						<table class="table table-bordered">
							<thead class="thead-dark">
								<tr>
									<th class='number'>ID</th>
									<th class='description'>Description</th>
									<th class='number'>Difficulty</th>
									<th class='number'>Priority</th>
									<th class='status'>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let project of myProjects" [routerLink]="['/project', project.id]">
									<td>{{ project.name }}</td>
									<td>{{ project.git }}</td>
									<td>{{ project.begin }}</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>

	</div>
</div>
