<nav class="navbar navbar-expand-md navbar-light bg-light">
	<ul class="navbar-nav">
		<li><a class="navbar-brand" (click)="taskView(false)">Backlog</a></li>
		<li><a class="navbar-brand" (click)="taskView(true)">Task</a></li>
	</ul>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="date"><p>Begin - {{sprint.begin}} </p></li>
			<li></li>
			<li></li>
			<li *ngIf='!addTaskMode'><button type="button" class="btn btn-secondary" (click)="onEdit()"><i class="fa fa-plus-circle"></i> Add task</button></li>
			<li *ngIf='addTaskMode'><button type="button" class="btn btn-primary" (click)="onConfirm()"><i class="fa fa-check-square"></i> Confirm</button></li>
			<li *ngIf='addTaskMode'><button type="button" class="btn " (click)="onBack()"><i class="fa fa-reply" aria-hidden="true"></i> Back</button></li>
			<li></li>
			<li></li>
			<li class="date"><p> End - {{sprint.end}} </p></li>
		</ul>
		<ul class="navbar-nav navbar-right">
			<li><button class="btn btn-default" (click)="editSprint()"><i class="fa fa-edit"></i> Edit sprint</button></li>
		</ul>
	</div>
</nav>


<div *ngIf='taskTableView' class="col-md-12">
	<table class="table">
		<thead>
			<tr>
				<th>ID </th>
				<th>Description</th>
				<th>Developer</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf='addTaskMode' class="table-primary">
				<td></td>
				<td contenteditable='true' [(ngModel)]="taskModel.description" #description="ngModel"></td>
				<td contenteditable='false' class="developers">
					<select [(ngModel)]="taskModel.developer" #developer="ngModel">
									<option *ngFor="let user of developers">{{user}}</option></select>
				</td>
				<td contenteditable='true' [(ngModel)]="taskModel.status" #status="ngModel"></td>
				<td>
					<button class="btn" disabled><i class="fa fa-edit"></i> Edit</button>
					<button class="btn btn-danger" disabled><i class="fa fa-times"></i></button>
				</td>
			</tr>
			<ng-container *ngFor="let task of taskList">
				<tr id="{{ 'TASK' + task.id  }}">
					<td>{{task.id}}</td>
					<td contenteditable='false' class="editable" [(ngModel)]="task.description" #description="ngModel">{{task.description}}</td>
					<td contenteditable='false' class="editable" *ngIf='!task.onEdit' [(ngModel)]="task.developer" #difficulty="ngModel">{{task.developer}}</td>
					<td contenteditable='false' class="developers" *ngIf='task.onEdit'>
						<select [(ngModel)]="task.developer" #developer="ngModel">
											<option *ngFor="let user of developers">{{user}}</option>
									</select>
					</td>
					<td contenteditable='false' [(ngModel)]="task.status" #priority="ngModel">{{task.status}}</td>
					<td>
						<button *ngIf='!task.onEdit' class="btn btn-default" (click)="onEditRow(task)"><i class="fa fa-edit"></i> Edit</button>
						<button *ngIf='!task.onEdit' class="btn btn-danger" (click)="onDeleteRow(task)"><i class="fa fa-times"></i></button>
						<button *ngIf='task.onEdit' class="btn" (click)="onBackRow(task)"><i class="fa fa-reply"></i> Back</button>
						<button *ngIf='task.onEdit' class="btn btn-primary" (click)="onConfirmRow(task)"><i class="fa fa-check-square"></i> Confirm</button>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>


<div *ngIf='!taskTableView' class="col-md-12">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Difficulty</th>
				<th>Priority</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let us of sprintUS">
				<tr>
					<td>{{ us.id }}</td>
					<td>{{ us.description }}</td>
					<td>{{ us.difficulty }}</td>
					<td>{{ us.priority }}</td>
					<td>{{ us.status }}</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>
