<div class="jumbotron">

	<div class="row">

		<div class="container">
			<h2 align="center">Projet - {{project.name}}</h2>
			<p align="center">Description projet - {{project.description}}</p>
		</div>
	</div>

</div>

<div class="container">

	<div class="row">
		<div class="col-md-2">
			<h2>Backlog</h2>
		</div>

		<div class="col-md-6">

			<form *ngIf="!haveURL" class="form-repository" [formGroup]="repositoryForm" (ngSubmit)="submitURL()" novalidate>
				<div class="form-group form-inline"><label for="url"><button type="button" class="btn btn-success" type="submit" [disabled]="repositoryForm.invalid">Add URL repository</button>
						<div class="col-md-1"></div>
					<input type="url" id="url" class="form-control" formControlName="url" placeholder="URL Repository"
					[ngClass]="{
						'is-invalid': (repositoryForm.controls['url'].invalid && repositoryForm.controls['url'].touched),
						'is-valid': repositoryForm.controls['url'].touched} ">
						</label>
				</div>
			</form>

			<form *ngIf="haveURL" class="form-repository" [formGroup]="repositoryForm" (ngSubmit)="submitURL()" novalidate>
				<div class="form-group form-inline"><label for="url">
					<button type="button" class="btn btn-primary" (click)="editURL()" >Edit URL repository</button>
					<div class="col-md-1"></div>
					<a target="_blank" href="{{ repositoryForm.value['url'] }}">Project repository</a>
				</label>
				</div>
			</form>

		</div>

		<div class="col-md-4" align="right">
			<button type="button" class="btn btn-warning" (click)="removeProject()">Edit project</button>
			<button type="button" class="btn btn-danger" (click)="removeProject()">Remove project</button>
		</div>

		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th class='description'>Description</th>
					<th>Difficulty</th>
					<th>Priority</th>
					<th>Status</th>
					<th id="columnAction">Action</th>
				</tr>
			</thead>
			<tbody>

				<tr *ngIf='addUsMode' id="newLine">
					<td class="table-secondary" contenteditable='true' [(ngModel)]="usModel.id" #id="ngModel"></td>
					<td class="table-primary description" contenteditable='true' [(ngModel)]="usModel.description" #description="ngModel"></td>
					<td class="table-primary" contenteditable='true' [(ngModel)]="usModel.difficulty" #difficulty="ngModel"></td>
					<td class="table-primary" contenteditable='true' [(ngModel)]="usModel.priority" #priority="ngModel"></td>
					<td class="table-primary" contenteditable='true' [(ngModel)]="usModel.status" #status="ngModel"></td>
					<td>
						<button class="btn" disabled>Edit</button>
						<button class="btn btn-danger" disabled>Delete</button>
					</td>
				</tr>
				
				<ng-container *ngFor="let us of usList">
					<tr id="{{ 'US' + us.id  }}">
						<td class="table-secondary" contenteditable='false' [(ngModel)]="us.id" #id="ngModel">{{us.id}}</td>
						<td class="editable description" contenteditable='false' [(ngModel)]="us.description" #description="ngModel">{{us.description}}</td>
						<td class="editable" contenteditable='false' [(ngModel)]="us.difficulty" #difficulty="ngModel">{{us.difficulty}}</td>
						<td class="editable" contenteditable='false' [(ngModel)]="us.priority" #priority="ngModel">{{us.priority}}</td>
						<td class="editable" contenteditable='false' [(ngModel)]="us.status" #status="ngModel">{{us.status}}</td>
						<td>
							<button *ngIf='!us.onEdit' class="btn btn-default" (click)="onEditRow(us)">Edit</button>
							<button *ngIf='!us.onEdit' class="btn btn-danger" (click)="onDeleteRow(us)">Delete</button>
							<button *ngIf='us.onEdit' class="btn" (click)="onBackRow(us)">Back</button>
							<button *ngIf='us.onEdit' class="btn btn-primary" (click)="onConfirmRow(us)">Confirm</button>
						</td>
					</tr>
				</ng-container>


			</tbody>
		</table>

		<button *ngIf='!addUsMode' type="button" class="btn btn-success" (click)="onEdit()">Add userStory</button>
		<div *ngIf='addUsMode'>
			<button type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
			<button type="button" class="btn" (click)="onBack()">Back</button>
		</div>

	</div>

</div>
