
<div class="col-md-6">
  <div class="container">

    <p align="left" class="Center-text">
    Ce site, concu au sein de l'université de Bordeaux, a pour but de vous aider à la gestion de vos projets. <br>
    Il vous permettra ainsi:<br>
    -La création/gestion du Backlog<br>
    -La création/gestion de Sprint<br>
    ...
    </p>
  </div>
</div>
<div class="col-md-6">
  <div class="container">
    <div class="well">
      <div class="col-md-6">

      <h4><strong>Fenêtre de connexion:</strong></h4>
      &nbsp;&nbsp;&nbsp;<form>Adresse mail: <input type="text" ng-model="mail"><br><br><br>
                            Mot de passe: <input type="text" ng-model="mdp"><br><br>
                            <input type="submit"> </form>

      </div>
      <div class="col-md-6">
        <h4><strong>Première connexion?</strong></h4>
        <form>
        Adresse mail: <input type="text" ng-model="new_mail"><br><br>
        Mot de passe: <input type="text" ng-model="new_mdp"><br><br>
        Confirmer mot de passe: <input type="text" ng-model="new_mdp_conf"><br><br>
        <input type="submit">
        </form>
      </div>
    </div>


  </div>
</div>
